<section id="fase-4" class="hero has-text-centered has-background-light">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-uppercase">
                FASE 4 DEL AISLAMIENTO SOCIAL
            </h2>
            <h3 class="subtitle">
                Desde el lunes rigen nuevos regímenes comerciales
            </h3>
            <a href="/fase-4" target="_blank" class="button is-dark">Listado de ordenanzas</a>
        </div>
    </div>
</section>

<section id="boletin-oficial" class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-uppercase">
                BOLETÍN OFICIAL COVID-19
            
            </h2>
            <h3 class="subtitle">
                Conocé las Ordenanzas y Decretos Municipales en el marco de la emergencia sanitaria
            </h3>
            <a href="https://drive.google.com/file/d/1z_t-IyFw_r6duips1EXXaMK7ewLxNYB8/view" target="_blank" class="button is-dark">Descargá el boletin oficial</a>
        </div>
    </div>
</section>

<section id="registros" class="section has-background-light">
    <div class="container">
        <div class="content has-text-centered">
            <h2 class="title is-uppercase">
                Registrate
            </h2>
            <p class="subtitle">
                Completá el formulario que corresponda a tu situación/necesidad.
            </p>

            <div class="columns">
                <div class="column">
                    <div id="necesito-ayuda" class="card has-text-left">
                        <div class="card-content">
                            <h2 class="title">
                                Necesito ayuda social
                            </h2>
                            <p class="subtitle">
                                Si necesitás ayuda social para atravesar esta emergencia completá este formulario.
                            </p>
                        </div>
                        <footer class="buttons is-centered">
                            <a href="https://forms.gle/ijmzUBkprkPW5hfK9" target="blank" class="button is-dark">Necesito
                                Ayuda</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="puedo-ayudar" class="card has-text-left">
                        <div class="card-content">
                            <h2 class="title">
                                Puedo ayudar
                            </h2>
                            <p class="subtitle">
                                Si querés realizar trabajos voluntarios completá este formulario.
                            </p>
                        </div>
                        <footer class="buttons is-centered">
                            <a href="https://forms.gle/mNHN1W3kHdFvT6fc8" class="button is-dark" target="blank">Puedo
                                ayudar</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="no-puedo-trabajar" class="card has-text-left">
                        <div class="card-content">
                            <h2 class="title">
                                Soy trabajador informal
                            </h2>
                            <p class="subtitle">
                                Si no estás pudiendo ofrecer tu producto o servicio por el aislamiento:
                            </p>
                        </div>
                        <footer class="buttons is-centered">
                            <a href="https://forms.gle/vZcnjENnKNFZR5Uc9" target="blank" class="button is-dark">Completá el formulario</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="trabajador-cultural" class="card has-text-left">
                        <div class="card-content">
                            <h2 class="title">
                                Soy trabajador cultural
                            </h2>
                            <p class="subtitle">
                                RUARC Registro Único de Artistas de Río Ceballos.
                            </p>
                        </div>
                        <footer class="buttons is-centered">
                            <a href="https://forms.gle/LzS8SuZ2BKdaVPJ67" target="blank" class="button is-dark">Ingresar al formulario</a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div id="comercios-afectados" class="card has-text-left">
                        <div class="card-content">
                            <h2 class="title">
                                Soy comerciante
                            </h2>
                            <p class="subtitle">
                                Registro Digital de Comercios afectados.
                            </p>
                        </div>
                        <footer class="buttons is-centered">
                            <a href="https://forms.gle/cwapXQS3ECBKFDjp6" target="blank" class="button is-dark">Ingresar al formulario</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="donaciones" class="hero has-text-centered has-background-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-uppercase">
                Sumá tu aporte
            </h1>
            <h2 class="subtitle">
                <a target="_blank" href="tel:3517657797" class="button is-light">
                <span class="icon">
                  <i class="fab fa-whatsapp"></i>
                </span>
                <span>0351 - 157657797</span>
              </a>
            </h2>
            <a href="/donaciones" class="button is-dark">Conocé el programa Pro.Co.E</a>
        </div>
    </div>
</section>

<script>
    'use strict';

    document.addEventListener('DOMContentLoaded', function () {

    // Modals

    var rootEl = document.documentElement;
    var $modals = getAll('.modal');
    var $modalButtons = getAll('.modal-button');
    var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

    if ($modalButtons.length > 0) {
        $modalButtons.forEach(function ($el) {
        $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            rootEl.classList.add('is-clipped');
            $target.classList.add('is-active');
        });
        });
    }

    if ($modalCloses.length > 0) {
        $modalCloses.forEach(function ($el) {
        $el.addEventListener('click', function () {
            closeModals();
        });
        });
    }

    document.addEventListener('keydown', function (event) {
        var e = event || window.event;
        if (e.keyCode === 27) {
        closeModals();
        }
    });

    function closeModals() {
        rootEl.classList.remove('is-clipped');
        $modals.forEach(function ($el) {
        $el.classList.remove('is-active');
        });
    }

    // Functions

    function getAll(selector) {
        return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }

    });
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=319823558983581&autoLogAppEvents=1"></script>
<div id="pagos" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <img
            src="{{ '/static/images/uploads/coronavirus.jpeg' | url }}"
            alt="Teléfonos útiles - {{ meta.title }}"
        />
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="cerrarPagos('pagos')"></button>
</div>