<footer id="contacto" class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <img id="logo" class="footer-logo" src="{{ '/static/images/logos/white.svg' | url }}" alt="{{ meta.title }}">
            </div>
            <div class="column">
                {% if meta.contact.telephone %}
                <div class="buttons">
                    <a class="button is-text is-small" target="_blank" href="https://api.whatsapp.com/send?phone=+{{ meta.contact.telephone }}&text=Hola! Quiero que me agreguen a la lista de difusión del municipio.">
                        <span class="icon is-small">
                            <i class="fab fa-whatsapp fa-2x"></i>
                        </span>
                        <span>Recibir información</span>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="column">
                <div class="buttons is-right">
                    <a class="button is-text is-small" target="_blank" href="https://www.instagram.com/munirioceballos/">
                        <span class="icon is-small">
                        <i class="fab fa-instagram fa-2x"></i>
                        </span>
                    </a>
                    <a class="button is-text is-small" target="_blank" href="https://www.facebook.com/MunicipalidaddeRioCeballos/">
                        <span class="icon is-small">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        </span>
                    </a>
                    <a class="button is-text is-small" target="_blank" href="mailto:comunicacion@rioceballos.gob.ar">
                        <span class="icon is-small">
                        <i class="fas fa-envelope fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns has-text-centered">
            <div class="column">
                <p class="is-size-7">Última actualización: {{ build.timestamp | dateToFormat("dd-LL-yyyy, t") }}</p>
            </div>
        </div>
    </div>
</footer>