<section class="header hero is-dark is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        <img
                            id="logo"
                            src="{{ '/static/images/logos/white.svg' | url }}"
                            alt="{{ meta.title }}"
                        />
                    </a>
                    <span
                        class="navbar-burger burger"
                        data-target="navbarMenuHeroA"
                    >
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/#telefonos-utiles" class="navbar-item">
                            Teléfonos útiles
                        </a>
                        <a href="/#registros" class="navbar-item">
                            Campaña
                        </a>
                        <a href="/#comunicaciones" class="navbar-item">
                            Comunicaciones
                        </a>
                        <span class="navbar-item">
                            <a
                                target="_blank"
                                href="https://api.whatsapp.com/send?phone=+{{
                                    meta.contact.telephone
                                }}&text=Hola! Quiero que me agreguen a la lista de difusión del municipio."
                                class="button is-inverted"
                            >
                                <span class="icon">
                                    <i class="fab fa-whatsapp"></i>
                                </span>
                                <span>Recibir información</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-uppercase">
                {{ title }}
            </h1>
            <h2 class="subtitle">
                {{ subtitle }}
            </h2>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li>
                        <a href="/cultura" title="Cultura">Cultura</a>
                    </li>
                    <li>
                        <a href="/discapacidad" title="Discapacidad">Discapacidad</a>
                    </li>
                    <li>
                        <a href="/violencia-de-genero" title="Violencia de género">Violencia de género</a>
                    </li>
                    <li>
                        <a href="/mudanzas" title="Mudanzas">Mudanzas</a>
                    </li>
                    <li>
                        <a href="/carnet-de-conducir" title="Carnet de conducir">Carnet de conducir</a>
                    </li>
                    <li>
                        <a href="/registro-civil" title="Registro Civil">Registro Civil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
