{% include "style/properties.njk" %}

{% include "style/logo.css" %}
{% include "style/cards.css" %}
{% include "style/buttons.css" %}
{% include "style/panels.css" %}
{% include "style/sections.css" %}
{% include "style/menu.css" %}
{% include "style/header.css" %}
{% include "style/notification.css" %}
{% include "style/content.css" %}
{% include "style/post.css" %}
{% include "style/footer.css" %}
