{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# Meta Tags #}
<meta name="description" content="{{ description or meta.description }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ subtitle }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:image" content="{{  '/static/images/design/bg-facebook.png' | url  }}">
<meta http-equiv="refresh" content="0;url=https://rioceballos.gob.ar/coronavirus">

{# Favicon #}
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/static/images/favicon/apple-icon-57x57.png' | url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/static/images/favicon/apple-icon-60x60.png' | url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/static/images/favicon/apple-icon-72x72.png' | url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/static/images/favicon/apple-icon-76x76.png' | url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/static/images/favicon/apple-icon-114x114.png' | url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/static/images/favicon/apple-icon-120x120.png' | url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/static/images/favicon/apple-icon-144x144.png' | url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/static/images/favicon/apple-icon-152x152.png' | url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/images/favicon/apple-icon-180x180.png' | url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ '/static/images/favicon/android-icon-192x192.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/images/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/static/images/favicon/favicon-96x96.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/images/favicon/favicon-16x16.png' | url }}">
<link rel="manifest" href="{{ '/static/images/favicon/manifest.json' | url }}">
<meta name="msapplication-TileColor" content="#1a1a1a">
<meta name="msapplication-TileImage" content="{{ '/static/images/favicon/ms-icon-144x144.png' | url }}">
<meta name="theme-color" content="#1a1a1a">

{# Analytics #}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156460184-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156460184-2');
</script>


{# Manifest #}
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}">

{# Bulma #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>

{# Menu responsive #}
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>