<article class="section message is-small is-dark is-paddingless is-marginless">
  <div class="container message-body">
    <i class="fas fa-exclamation-triangle"></i>
    MUNICIPALIDAD ABIERTA: Río Ceballos abre sus puertas para el cobro de Tributos Municipales y deudas vencidas, como así también para la presentación de Declaración Jurada de la Actividad Comercial, Industrial y de Servicios, de 9 a 13 horas.
  </div>
</article>