<section id="telefonos-utiles" class="section has-background-light">
    <div class="container">
        <h2 class="title is-uppercase has-text-centered">Teléfonos útiles</h2>
        <p class="subtitle has-text-centered">
            Números importantes / agenda de teléfonos importantes
        </p>
        <h3 class="subtitle has-text-weight-bold has-text-centered">Durante los días de aislamiento el Municipio pone a disposición líneas telefónicas para la asistencia</h3>
        <div class="columns">
            <div class="column">
                <ul>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Denuncias por incumplimiento del aislamiento
                        </h4>
                        <h4 class="panel-block">
                            (comercios abiertos, ciudadanos circulando, etc.)
                        </h4>
                        <div class="panel-block">
                            GUM:
                        </div>
                        <a href="tel:0351153934529" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0351 153934529
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            las 24 hs.
                        </span>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Consultas por síntomas febriles o respiratorios
                        </h4>
                        <div class="panel-block">
                            (coronavirus, dengue o sarampión)
                        </div>
                        <a class="panel-block" href="tel:03543457485">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 - 457485
                        </a>
                        <a class="panel-block" href="tel:03543451087">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 - 451087
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            las 24 hs.
                        </span>
                        <a href="tel:0354315571868" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 - 15571868
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            de 8 a 22 hs.
                        </span>
                        <div class="panel-block"><strong>Su llamado será atendido por un agente de la Salud</strong></div>
                    </li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Notificaciones por casos sospechosos 
                        </h4>
                        <div class="panel-block">
                            (personas que llegan de otros países o violación del aislamiento)
                        </div>
                        <a href="tel:0354315571743" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 -15571743
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            de 8 a 20 hs.
                        </span>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Információn o ayuda social para atravesar la emergencia
                        </h4>
                        <p class="panel-block">
                            (Dirección de Equidad y Desarrollo Social)
                        </p>
                        <a href="tel:0354315572682" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 1557-2682
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            Lunes a viernes de 8 a 13 hs.
                        </span>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Denuncias o consultas por situaciones de violencia de género
                        </h4>
                        <a href="tel:0354315572682" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 - 15572682
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            Lunes a viernes de 8 a 13 hs.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Salud Mental, escucha, consultas y acompañamiento
                        </h4>
                        <a href="tel:0354315572733" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 - 15572733
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            de 8 a 17 hs.
                        </span>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Consultas por discapacidad
                        </h4>
                        <a href="tel:0351156764508" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0351-156764508
                        </a>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Denuncias por infracciones ambientales 
                        </h4>
                        <a href="tel:0354315572058" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 15572058
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            de 8 a 13 hs.
                        </span>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Reclamos de servicios públicos
                        </h4>
                        <a href="tel:0351156764508" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            03543 15572417
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            Lunes a viernes de 8 a 13 hs.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 class="subtitle has-text-weight-bold has-text-centered">Además dispones de los números oficiales de Nación y Provincia</h3>
        <div class="columns">
            <div class="column">
                <ul>
                    <li class="panel">
                        <h4 class="panel-heading">
                            Denuncias por incumplimiento del aislamiento
                        </h4>
                        <div class="panel-block">
                            (comercios abiertos, ciudadanos circulando, etc.)
                        </div>
                        <div class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            Ministerio Público Fiscal de la Nación en Córdoba
                        </div>
                        <a href="tel:0351448179" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0351 - 448179
                        </a>
                        <a href="tel:08008880054" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0800 888 0054
                        </a>
                        <div class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            Ministerio de Seguridad de la Nación
                        </div>
                        <a href="tel:134" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            134
                        </a>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            PRECIOS MÁXIMOS
                        </h4>
                        <div class="panel-block">
                            (comercios abiertos, ciudadanos circulando, etc.)
                        </div>
                        <a target="_blank" href="https://preciosmaximos.argentina.gob.ar" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                            </span>
                            Página de precios máximos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li class="panel">
                        <h4 class="panel-heading">
                            PAMI
                        </h4>
                        <a href="tel:138" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            138 (Opción 9)
                        </a>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            APROSS
                        </h4>
                        <a href="tel:08107772985" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0810 777 2985 (Opción 2)
                        </a>
                    </li>
                    <li class="panel">
                        <h4 class="panel-heading">
                            VIOLENCIA DE GÉNERO
                        </h4>
                        <div class="panel-block">
                            Ministerio de la Mujer de Córdoba
                        </div>
                        <a href="tel:08008889898" class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                            </span>
                            0800 888 9898
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            las 24 hs.
                        </span>
                        <a href="tel:3518141400" class="panel-block">
                            <span class="panel-icon">
                            <i class="fab fa-whatsapp" aria-hidden="true"></i>
                            </span>
                            WhatsApp al 351 814 1400
                        </a>
                        <span class="panel-block">
                            <span class="panel-icon">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            </span>
                            las 24 hs.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="cooperativa-de-obras-y-servicios" class="section">
    <div class="container">
        <h3 class="subtitle has-text-centered">
            <img class="logo" src="{{ '/static/images/logos/cooperativa-rc-white.svg' | url }}" alt="Cooperativa de Obras y Servicios">
        </h3>
        <div class="columns is-centered">
            <div class="column is-half">
                <p>La sede de la cooperativa se encuentra temporalmente cerrada por eso dispusimos todos nuestros canales de comunicación online.</p>
            </div>   
        </div>
        <div class="columns">
            <div class="column">
                <div class="panel">
                    <h4 class="panel-heading">Canales de comunicación</h4>
                    <a href="tel:03543451257" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-451257
                    </a>
                    <a href="tel:03543451317" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-451317
                    </a>
                    <a href="tel:3543516541" class="panel-block">
                        <span class="panel-icon">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        </span>
                        WhatsApp al 3543-516541
                    </a>
                    <a href="tel:3543640211" class="panel-block">
                        <span class="panel-icon">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        </span>
                        WhatsApp al 3543-640211
                    </a>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clock" aria-hidden="true"></i>
                        </span>
                        de 8 a 14 hs.
                    </span>
                    <a href="mailto:informes@cooprc.com.ar" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        </span>
                        informes@cooprc.com.ar
                    </a>
                    <a href="mailto:gestion@cooprc.com.ar" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        </span>
                        gestion@cooprc.com.ar
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="panel">
                    <h4 class="panel-heading">Formas de pago electrónico</h4>
                    <div class="panel-block">Transferencias bancarias con envío de comprobante a:</div>
                    <a href="mailto:administracion@cooprc.com.ar" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        </span>
                        administracion@cooprc.com.ar
                    </a>
                    <div class="panel-block">CBU: 0200350201000000393833</div>
                    <div class="panel-block">CUIT: 30-63427647-7</div>
                    <div class="panel-block">Titular: Cooperativa de Obras y Servicios Río Ceballos</div>
                    <div class="panel-block">Banco de Córdoba</div>
                    <div class="panel-block">Pago telefónico con tarjeta de crédito / Débito automático tarjeta Naranja / Homebanking Link y Banelco</div>
                </div>
            </div>
        </div>
        <div class="buttons has-addons is-centered">
            <a class="button" href="www.cooprc.com.ar" target="_blank">Descargá tu factura</a>
        </div>
    </div>
</section>
{# <section id="farmacias" class="section">
    <div class="container">
        <h3 class="subtitle has-text-centered">
            <img class="logo" src="{{ '/static/images/logos/centro-comercial-white.svg' | url }}" alt="Centro Comercial, Industrial y Turístico de Río Ceballos.">
        </h3>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <p class="subtitle has-text-white-bis is-uppercase">
                    Farmacias de turno <br>
                    Lunes 11 al domingo 17 de Mayo
                </p>
            </div>   
        </div>
        <div class="columns is-multiline">
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Lunes 11</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia Fumo
                    </span>
                    <a href="tel:03543459005" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-459005
                    </a>
                    <span class="panel-block">
                        Oscar Ferreyra 1448
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Martes 12</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia San Martín (Ex Ñu Porá)
                    </span>
                    <a href="tel:03543451553" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-451553
                    </a>
                    <span class="panel-block">
                        San Martín 3145
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Miércoles 13</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia Marchetti
                    </span>
                    <a href="tel:03543453472" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-453472
                    </a>
                    <span class="panel-block">
                        Remedios de Escalada 1230
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Jueves 15</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia La Quebrada
                    </span>
                    <a href="tel:03543450484" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-450484
                    </a>
                    <span class="panel-block">
                        San Martín esq. Alem
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Viernes 15</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia Estevan de Ergueta
                    </span>
                    <a href="tel:03543451445" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-451445
                    </a>
                    <span class="panel-block">
                        San Martín 4426
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Sábado 16</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia Candil
                    </span>
                    <a href="tel:03543450707" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-450707
                    </a>
                    <span class="panel-block">
                        Remedios de Escalada 109
                    </span>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="panel">
                    <h4 class="panel-heading">Domingo 17</h4>
                    <span class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-clinic-medical"></i>
                        </span>
                        Farmacia Candil
                    </span>
                    <a href="tel:03543450707" class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                        </span>
                        03543-450707
                    </a>
                    <span class="panel-block">
                        Remedios de Escalada 109
                    </span>
                </div>
            </div>
        </div>
    </div>
</section> #}