  <section id="comunicaciones" class="section has-text-centered postlist">
    <div class="container">
        <h2 class="title is-uppercase">Comunicaciones</h2>
        <h3 class="subtitle">
            Comisión para la Evaluación de la Emergencia Sanitaria
        </h3>
        <div class="columns is-multiline">
        {% set total = collections.posts | length - 1 %}
        {% for i in range(0, 8 )  %}
            <div class="column is-one-quarter"> 
                <div class="card">
                    <div class="card-content has-text-left">
                        <h4 class="title has-text-white is-uppercase is-4">
                            {{ collections.posts[total - i].data.title }}
                        </h4>
                        <p class="subtitle has-text-white is-6">
                            <i class="far fa-calendar-alt"></i>
                            <time datetime="{{ collections.posts[total - i].date | dateToFormat('yyyy-LL-dd') }}">
                                {{ collections.posts[total - i].date | dateToFormat(meta.dateFormat) }}
                            </time>
                        </p>
                        <p class="is-more content">
                            <a class="has-text-white" href="{{ collections.posts[total - i].url | url }}">
                                <i class="fas fa-external-link-alt"></i>
                                Leer
                            </a>
                        </p>
                    </div>
                </div>
            </div> 
        {% endfor %}
        </div>
        <div class="buttons has-addons is-centered">
            <a class="button" href="/comunicaciones">Ver todas las comunicaciones</a>
        </div>
    </div>
  </section>