#registros .card {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
#registros .card > * {
    box-sizing: border-box;
    width: 100%;
}
#registros .card .card-content {
    height: 70%;
}
#registros .card .buttons {
    align-items: center;
    margin-bottom: 0;
    height: 30%;
}
#registros .card .buttons .button {
    margin-bottom: 1rem;
}
