#contacto {
    background: #de6530;
    color: white;
}
#contacto .buttons {
    justify-content: center;
}
@media screen and (min-width: 769px) {
    #contacto .buttons.is-right {
        justify-content: flex-end;
    }
}
#contacto .button {
    color: white;
    text-decoration: none;    
}
#contacto .button:hover {
    background: transparent;
}