.header {
    background: #586ca4 url("{{ '/static/images/design/bg-coronavirus.png' | url }}") repeat center;
    background-size: contain;
    color: white;
    text-align: center;
}

.header .hero-head,
.header .hero-body,
.header .hero-foot {
    background: rgba(0, 0, 0, 0.5);
}
