.hero.is-dark .navbar-brand a.navbar-item:hover {
    background: transparent;
}

/* Logo header */
#logo {
    display: block;
    height: 40px;
    max-height: 40px;
}
@media screen and (min-width: 769px) {
    #logo {
        height: 50px;
        max-height: 50px;
    }
}
/* Logo footer */
.footer-logo {
    margin: 0 auto;
}
@media screen and (min-width: 769px) {
    .footer-logo {
        margin: 0;
    }
}

/* Logos custom */

/* Cooperativa de Obras y Servicios - Río Ceballos Ltda.  */
#cooperativa-de-obras-y-servicios .logo {
    display: block;
    height: 60px;
    max-height: 60px;
}
@media screen and (min-width: 769px) {
    #cooperativa-de-obras-y-servicios .logo {
        height: 80px;
        max-height: 80px;
        margin: 0 auto;
    }
}

/* Centro Comercial, Industrial y Turístico - Río Ceballos */
#farmacias .logo {
    display: block;
    height: 60px;
    max-height: 60px;
}
@media screen and (min-width: 769px) {
    #farmacias .logo {
        height: 80px;
        max-height: 80px;
        margin: 0 auto;
    }
}