#menu {
    display: flex;
    align-items: center;
}
#menu ul {
    display: flex;
    flex-flow: row wrap;
}
#menu ul li {
    font-size: 1rem;
    margin: 0 .5em;
    list-style: none;
}
#menu ul li a {
    font-size: small;
    text-decoration: none;
    text-transform: uppercase;
}
@media screen and (max-width:1023px) {
    .hero.is-dark .navbar-menu {
        background-color: rgba(0,0,0, .95) !important;
        position: absolute;
        width: 100%;
    }
}
.navbar-burger {
    background: rgba(255, 255, 255, .5);
}
.navbar-burger:hover {
    background: rgba(255, 255, 255, .5) !important;
}