/* Componente nodo */
.post header {
    margin-bottom: 2rem;
}

/* Componente listado */
#comunicaciones .card {
    background: #586ca4 url("{{ '/static/images/design/bg-coronavirus.png' | url }}") no-repeat center right;
}
#comunicaciones .is-more i {
    padding-right: .5rem;
}