:root {
    --brand-color: {% if meta.primaryColor %}{{ meta.primaryColor }}{% else %}#188bb7{% endif %};
    --spacing: 1em;
    --font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
    :root {
        --spacing: 2em;
        --font-size: 1.5rem;
    }
}