/* Secciones custom */

/* Cooperativa de Obras y Servicios - Río Ceballos Ltda.  */
#cooperativa-de-obras-y-servicios {
    background-color: #3a5896;
    color: white;
}

/* Centro Comercial, Industrial y Turístico - Río Ceballos */
#farmacias {
    background-color: #00923e;
    color: white;
}