---
layout: base
title: "Carnet de conducir"
subtitle: "Nuevos canales de turnos para Carnet de Conducir."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <figure class="image is-marginless">
                        <img src="{{ '/static/images/uploads/licencias-de-conducir.jpeg' | url }}" alt="Carnet de conducir">
                    </figure>
                </div>
                <div class="column">
                    <h3 class="title">TURNOS PARA LICENCIA DE CONDUCIR</h3>
                    <p>La Secretaría de Gobierno de la Municipalidad informa que se encuentra habilitado el nuevo turnero electrónico por medio de MiArgentina para realizar licencias de conducir. Las personas interesadas deberán ingresar en:</p>
                    <p>👉🏾 Para <b>renovar licencia</b> 
                    <br> 
                    <a href="https://bit.ly/2Taps86" class="button" target="_blank" title="Turno para renovación, completar el siguiente formulario">Click acá</a></p>
                    <p>👉🏾 Para sacar la <b>licencia por primera vez:</b> 
                    <br> 
                    <a href="https://bit.ly/35kwHzR" class="button" target="_blank" title="Turno para sacar licencia de conducir por primera vez, completar el siguiente formulario">Click acá</a></p>
                    <p>O ingresando a:
                    <br> 
                    <a href="https://bit.ly/37vDeKK" class="button" target="_blank" title="Turnos - Mi Argentina">Mi Argentina - Turnos</a></p>
                    <p>Para consultar el tutorial aquí:
                    <br> 
                    <a href="https://bit.ly/34eXYoa" class="button" target="_blank" title="Tutorial - Turno para licencias de conducir">Mi Argentina - Turnos</a></p>
                    <p><b><i>Comunidad y Municipio responsables.</i></b></p>
                </div>
            </div>
            
        </div>
    </article>
</section>