---
layout: base
title: "Comunicaciones"
subtitle: "Comisión para la Evaluación de la Emergencia Sanitaria."
---

<section class="section">
    <div class="container">
        <div class="content">
            <div class="columns is-desktop is-multiline">
                {% for post in collections.posts | reverse  %}
                    <div class="column is-4"> 
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-marginless is-2by1">
                                    <img src="{{ '/static/images/design/bg-comunicaciones.png' | url }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content has-text-left">
                                <h4 class="title is-uppercase is-4">
                                    {{ post.data.title }}
                                </h4>
                                <p class="subtitle is-6">
                                    <i class="far fa-calendar-alt"></i>
                                    <time datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">
                                        {{ post.date | dateToFormat(meta.dateFormat) }}
                                    </time>
                                </p>
                                <p class="is-more content">
                                    <a class="has-text-black" href="{{ post.url | url }}">
                                        <i class="fas fa-external-link-alt"></i>
                                        Leer 
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</section>