---
layout: base
title: "Cultura"
subtitle: "Nuevos programas de la Dirección de Cultura."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <figure class="image is-marginless">
                        <img src="{{ '/static/images/uploads/catalogo-cultural.jpeg' | url }}" alt="CATÁLOGO VIRTUAL DE PRODUCTOS">
                    </figure>
                </div>
                <div class="column">
                <h3 class="title">CATÁLOGO VIRTUAL DE PRODUCTOS</h3>
                <h4 class="subtitle">Feria Artesanal y Microemprendedora</h4>
                <p>En emergencia sanitaria nos cuidamos, nos acompañamos y promovemos otras maneras de visibilizar las producciones. </p>
                <p>La Dirección de Cultura junto a artesanos/as y microemprendedores/as ponen a disposición de toda la ciudad un Catálogo Virtual para dar a conocer los productos y favorecer nuevos canales para exponer y comercializar. </p>
                <p>Es otra manera de fortalecer el desarrollo de estas pequeñas economías que son parte de nuestra identidad cultural.</p>
                <p><a href="https://bit.ly/2Z6I0tC" class="button" target="_blank" title="CATÁLOGO VIRTUAL - Mirá el Catálogo acá">Mirá el Catálogo acá</a></p>
                <h4>Quienes quieran participar en el catálogo en alguno de los siguientes rubros:</h4>
                <ul>
                    <li>Cerámica</li>
                    <li>Madera</li>
                    <li>Mármol, piedra, vidrio</li>
                    <li>Textil</li>
                    <li>Joyería (alpaca)</li>
                    <li>Productos regionales (dulces, licores,etc)</li>
                    <li>Instrumentos musicales </li>
                </ul>
                <p>Comunicarse a través del mail <a href="mailto:cultura@rioceballos.gob.ar">cultura@rioceballos.gob.ar</a></p>
                </div>
            </div>
            <div class="columns is-multiline">
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="columns is-multiline">
                <div class="column">
                    <p><b>La Dirección de Cultura lanza nuevos programas en el marco de la Emergencia Sanitaria para que la cultura siga siendo un derecho y una oportunidad. Hoy más que nunca es necesario tejer las redes para contenernos en esta situación y ese es el rol primordial de la cultura.</b> <br> <br> </p>
                    <h4 class="title">
                        Talleres Culturales Virtuales y Gratuitos inscripciones abiertas
                    </h4>
                    <p class="subtitle">
                        (ingresando en el Link adjunto a cada taller)
                    </p>
                    <ul class="panels">
                        <li class="panel">
                            <a href="https://forms.gle/in7pcHfXe94fUGwv6" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                </span>
                                Formación en Gestión Cultural
                            </a>
                            <a href="https://forms.gle/Qy9dSbx9EP2yRJGv6" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                </span>
                                Dibujo Experimental para niños y niñas
                            </a>
                            <a href="https://forms.gle/cP8NJqArMzHyHHmFA" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                </span>
                                Creación Audiovisual para adolescentes
                            </a>
                            <a href="https://forms.gle/EMbKHEuzeqF4Mg549" target="_blank" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                                </span>
                                Movimiento Expresivo para adultos mayores
                            </a>
                             <div class="panel-block">
                                <a href="https://drive.google.com/file/d/1QHKEoqx_fzYe7EWiZvylQiXcNi-x35C9/view" target="_blank" class="button is-dark is-outlined">
                                <span class="icon">
                                <i class="far fa-file-pdf"></i>
                                </span>
                                <span>Más información</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <p><br></p>
                    <h4 class="title">
                        Orquesta Social Infanto Juvenil de Río Ceballos continúa funcionando con la modalidad de clases virtuales.
                    </h4>
                    <iframe style="max-width: 100%;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCulturaRioCeballosOk%2Fvideos%2F816738002150546%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="column is-half">
                    <iframe style="max-width: 100%;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMunicipalidaddeRioCeballos%2Fposts%2F2918057861607077&width=500" width="500" height="677" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </article>
</section>

<section id="registro-unico-de-artistas" class="hero has-background-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half has-text-centered">
                    <h2 class="title is-uppercase">
                        RUARC 
                    </h2>
                    <h3 class="subtitle">
                        Registro Único de Artistas de Río Ceballos
                    </h3>
                    <div class="content">
                        <p>
                            El objetivo del relevamiento apunta a identificar la oferta de servicios, productos y necesidades específicas del sector en el marco de la emergencia sanitaria. Si sos trabajador de la cultura, te invitamos a completar el formulario.
                        </p>
                    </div>
                </div>
            </div>
            <div class="buttons is-centered">
                <a href="https://forms.gle/LzS8SuZ2BKdaVPJ67" target="_blank" class="button is-dark">Ingresar al registro</a>
            </div>
        </div>
    </div>
</section>