---
layout: base
title: "Discapacidad"
subtitle: "Certificados de Circulación para Personas con Discapacidad."
---

<section class="section post">
    <article class="container">

        <div class="content">
            <div class="columns is-centered">
                <div class="column is-half">
                    <p><b>INFORMACIÓN IMPORTANTE DEL ÁREA DE DISCAPACIDAD</b></p>
                    <h3 class="title">Certificados de Circulación para Personas con Discapacidad</h3>
                    <p>El Área de Discapacidad de Río Ceballos comunica que en nuestra ciudad rigen los protocolos establecidos por la Subsecretaría de Rehabilitación, Inclusión y Discapacidad del Gobierno de la Provincia de Córdoba en lo que refiere a la circulación de personas con discapacidad en la vía pública.</p>
                    <p>Estos protocolos indican que debe tramitarse el Certificado de Circulación para Personas con discapacidad a través del Área de Discapacidad de Río Ceballos.</p>
                    <p>Quienes necesiten este Certificado podrán tramitarlo por los siguientes medios:</p>
                    <ul class="panels">
                        <li class="panel">
                            <a href="tel:3516764508" class="panel-block">
                                <span class="panel-icon">
                                <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                </span>
                                351 676-4508
                            </a>
                            <span class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                </span>
                                de 8 a 14 hs.
                            </span>
                            <a href="mailto:discapacidad@rioceballos.gob.ar" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                discapacidad@rioceballos.gob.ar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </article>
</section>