---
layout: base
title: "Donaciones"
subtitle: "Programa Comunitario de Emergencia en Río Ceballos."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <p><b>La medida de Aislamiento Social, Preventivo y Obligatorio se extiende y eso agrava la situación de vulnerabilidad de muchos de nuestros vecinos.</b></p>
                    <p>Estamos ocupándonos de las diferentes necesidades y haciendo llegar la ayuda social para atravesar esta crisis. </p>
                    <p>Es un tiempo difícil, que requiere de cada uno de nosotros. </p>
                    <p><b>Para dar respuesta a esta situación se creó el Programa Comunitario de Emergencia (Pro.Co.E.) a través del <a href="https://drive.google.com/file/d/1KIy6nwZzKUPDv-rSExF9i5rheY3spT_s/view" target="_blank">decreto 174/20</a>, para generar un fondo de acción eficaz y transparente, con los debidos controles y la logística para llegar a cada rincón de Río Ceballos.</b></p>
                    <p>El mismo está conformado con fondos de partidas municipales, aportes por la reducción salarial de funcionarios municipales, ayudas de vecinos y asociaciones civiles, clubes y empresarios locales. </p>
                    <p>Hoy más que nunca necesitamos la colaboración de todos. Te invitamos a trabajar juntos. </p>
                    <p><b>Para colaborar con mercadería o dinero, comunicate con el Cel.: 351 7657797.</b></p>
                </div>
                <div class="column is-half">
                    <iframe style="max-width: 100%;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMunicipalidaddeRioCeballos%2Fposts%2F2884356354977228&width=500&show_text=false&appId=1929337717391231&height=498" width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>

        <footer>
            <a href="/" class="iconlink has-text-dark">
                <i class="fas fa-arrow-left"></i>
                Volver al inicio
            </a>
        </footer>
    </article>
</section>