---
layout: base
title: "FASE 4 DEL AISLAMIENTO SOCIAL"
subtitle: "DESDE EL LUNES 10/05 RIGEN NUEVOS REGÍMENES COMERCIALES."
---

<section class="section post">
    <article class="container">

        <div class="content">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h3 class="title">RIGEN NUEVOS REGÍMENES COMERCIALES</h3>
                    <p><b>Por definición del COE provincial (Comité Central de Emergencia), Río Ceballos queda excluida del Conglomerado del Gran Córdoba, y desde hoy están vigentes nuevos regímenes comerciales, profesionales, empresariales, industriales y para la construcción.</b></p>
                    <p>Estos son los <b>enlaces para descargar los protocolos vigentes desde el lunes 11 de mayo</b>:</p>
                    <ul class="panels">
                        <li class="panel">
                            <a 
                                href="https://drive.google.com/file/d/1zTXTovfkJAPdxrtkntPG9mFYoU0uU2NR/view"  
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                JUNTADAS FAMILIARES
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1YWrtsZksWtcyDgCxbjJxzUDBiztNAFgF/view"  
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                ESTABLECIMIENTOS GASTRONÓMICOS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/18fmPKgZ6BO-JZVGsFuVwPVgxGNw0gzwu/view"  
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                    TRABAJADORAS/ES DE CASAS PARTICULARES
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1uyYk4XUo0KF48HD9LkV_-CzgJO4FTbdl/view"  
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                COMERCIOS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/13zCAJbMQjYLc8_1-acbP4Bj_lJbFU8qw/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                Anexo FISIOTERAPEUTAS Y KINESIÓLOGOS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1hrAcO5x6tHsfL0uvGdLNIxiCez4pysMe/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                Anexo ODONTÓLOGOS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1UVLLOp7TkK0QzPoyeLRF0IT34oOIeezc/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                Anexo QUINELAS
                            </a>
                            <a
                                href="https://drive.google.com/file/d/1Azdo_PqUfnixjQ1RocJGznnsy4d0Syoy/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                Anexo PELUQUERIAS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1CyAI-IsyW2ClVWZAkyQJFoKP6jIe8Eoo/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                PROFESIONALES
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1Qs9_VPQ5dnoqtPPBI_voheEYnbUpEpEw/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                OBRAS PRIVADAS
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1kjQFT4wGnqsMWYG-5l9EcZE2ZPa5g0mO/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                EMPRESAS E INDUSTRIAS
                            </a>
                            <a 
                                href="https://www.cba.gov.ar/wp-content/uploads/2020/05/ANEXO-66-CORREDORES-INMOBILIARIOS-INMOBILIARIAS.pdf" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                INMOBILIARIAS
                            </a>
                            <a 
                                href="https://www.cba.gov.ar/wp-content/uploads/2020/05/PROTOCOLO-CONCESIONARIO-AUTOMOTORES-25may20-1.pdf" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                CONCESIONARIO
                            </a>
                            <a 
                                href="https://drive.google.com/file/d/1o739QerYD-6hCXyJzhySsJAPFRrTM6jK/view" 
                                target="_blank"
                                class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-file-alt" aria-hidden="true"></i>
                                </span>
                                ACTIVIDADES DEPORTIVAS
                            </a>
                        </li>
                    </ul>
                    <ul class="panels"></ul>

                    <p><b>Se solicita a toda la población respetar estrictamente las medidas de seguridad vigentes:</b> distanciamiento social, uso de barbijos y tapabocas en la vía pública, medidas de higiene, circulación con permisos correspondientes para cada caso y movilizarse sólo para cubrir las necesidades esenciales en comercios de cercanía. <b>Los comerciantes deben disponer de manera visible y a disposición alcohol en gel para sus clientes.</b></p>

                    <p>Sigamos cuidándonos. <b>No tiremos por la borda los logros alcanzados, ya que ante cualquier modificación de la situación epidemiológica se volverán a endurecer las medidas preventivas</b> dispuestas por el Aislamiento Social, Preventivo y Obligatorio.</p>

                    <p><b>Nos seguimos cuidando entre todos.</b></p>

                    <p><b><i>Comunidad y municipio responsables.</i></b></p>
                </div>
            </div>
        </div>

    </article>
</section>