---
layout: base
title: "Mudanzas"
subtitle: "Permiso necesario para mudarse a Río Ceballos."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <figure class="image is-marginless">
                        <img src="{{ '/static/images/uploads/mudanzas.jpeg' | url }}" alt="Permiso de Mudanzas">
                    </figure>
                </div>
                <div class="column">
                    <h3 class="title">INFORMACIÓN IMPORTANTE: MUDANZAS A RÍO CEBALLOS</h3>
                    <p>Para realizar mudanzas desde otras localidades de la provincia con destino a Río Ceballos, los interesados deben solicitar día y horario con 48 hs. de anticipación completando el siguiente formulario.</p>
                    <br> 
                    <a href="https://bit.ly/35ShPZK" class="button" target="_blank" title="Permiso de Mudanzas">Formulario</a></p>
                    <p><b><i>Comunidad y Municipio responsables.</i></b></p>
                </div>
            </div>
            
        </div>
    </article>
</section>