---
layout: base
title: "Registro Civil"
subtitle: "Trámites para DNI."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <figure class="image is-marginless">
                        <img src="{{ '/static/images/uploads/registro-civil.jpeg' | url }}" alt="Carnet de conducir">
                    </figure>
                </div>
                <div class="column">
                    <h3 class="title">REGISTRO CIVIL</h3>
                    <p><b>La Secretaria de Gobierno informa que la nueva apertura del turnero del Registro Civil está prevista para el próximo 3 de noviembre. Para registrarse debe hacerlo en el siguiente formulario a partir de ese día:</b></p>
                    <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPhxVQofOV_Ii_v5gyqWew4OVzwsNqVPCEnI13Pfwm20-WPQ/closedform" class="button">Turnero</a>
                    </p>
                    <p>Para responder a las medidas de bioseguridad, sólo se atenderán 10 turnos por día, de lunes a jueves, entre las 8:30 y las 13 hs.</p>
                    <p>Es importante recordar además que las actas de nacimiento, defunciones y matrimonio, se pueden gestionar de manera virtual por la plataforma de Ciudadano Digital (CIDI), para averiguar cómo hacerlo ingresar <a target="_blank" href="https://cidi.cba.gov.ar/portal-publico/etramite-info">aquí</a></p>
                    <p><i>Comunidad y Municipio Responsables</i></p>
                </div>
            </div>
            
        </div>
    </article>
</section>