---
layout: base
title: "Equipo de Violencia de Género"
subtitle: "Programa Comunitario de Emergencia en Río Ceballos."
---

<section class="section post">
    <article class="container">
        
        <div class="content">
            <div class="columns is-multiline">
                <div class="column">
                    <article class="message is-dark">
                        <div class="message-header">
                            <p>¡INFORMACIÓN IMPORTANTE!</p>
                        </div>
                        <div class="message-body">
                            Recordamos a la comunidad de Río Ceballos que <b>el equipo de Violencia de Genero y Fortalecimiento Familiar</b> continúa con su asistencia, en la modalidad que estableció el estado municipal considerando la situación de emergencia sanitaria por Covid-19. 
Los teléfonos de contacto son: 03543-458052 y 3543-572682 de lunes a viernes de 8 a 13hs.
                        </div>
                    </article>
                    <p>Las víctimas de violencia familiar o de género y/o agresores/as que tengan causas judiciales en trámite y deseen comunicarse con el Poder Judicial, durante el receso sanitario, pueden comunicarse de lunes a viernes de 8hs a 16hs por las siguientes vías:</p>
                    <ul class="panels">
                        <li class="panel">
                            <h4 class="panel-heading">Poder Judicial</h4>
                            <a href="tel:3514481000" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                </span>
                                0351 4481000
                            </a>
                            <a href="tel:3514481600" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                </span>
                                0351 4481600
                            </a>
                            <span class="panel-block">
                            internos 11892, 11893 o 11894
                            </span>
                            <span class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                </span>
                                de 8 a 16 hs.
                            </span>
                            <a href="mailto:mesapermanentet2@justiciacordoba.gob.ar" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                mesapermanentet2@justiciacordoba.gob.ar
                            </a>
                            <a href="mailto:mmedina@justiciacordoba.gob.ar" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                                </span>
                                mmedina@justiciacordoba.gob.ar
                            </a>
                        </li>
                        <li class="panel">
                            <h4 class="panel-heading">
                                Denuncias o consultas por situaciones de violencia de género
                            </h4>
                            <a href="tel:0354315572682" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                </span>
                                03543 - 15572682
                            </a>
                            <span class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                </span>
                                Lunes a viernes de 8 a 13 hs.
                            </span>
                        </li>
                        <li class="panel">
                            <h4 class="panel-heading">
                                Ministerio de la Mujer de Córdoba
                            </h4>
                            <a href="tel:08008889898" class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                                </span>
                                0800 888 9898
                            </a>
                            <span class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                </span>
                                las 24 hs.
                            </span>
                            <a href="tel:3518141400" class="panel-block">
                                <span class="panel-icon">
                                <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                </span>
                                WhatsApp al 351 814 1400
                            </a>
                            <span class="panel-block">
                                <span class="panel-icon">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                </span>
                                las 24 hs.
                            </span>
                        </li>
                    </ul>      
                </div>
                <div class="column is-half">
                    <iframe style="max-width: 100%;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMunicipalidaddeRioCeballos%2Fposts%2F2854482817964582&width=500" width="500" height="677" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </article>
</section>