<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
        {%- set css -%}{% include "inline-css.njk" %}{%- endset -%}

        {% include "meta.njk" %}
        <style>{{ css | cssmin | safe }}</style>
    </head>
    <body class="site">
        {% include "notification.njk" %}
        {% include "header.njk" %}
        <main class="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}

        {% if build.env === 'production' %}
        <script src="{{ '/static/scripts/offline.js' | url }}" async defer></script>
        {% endif %}
    </body>
</html>