---
layout: base
---

<section class="section post">
    <article class="container">
        <header>
            <p class="subtitle">
                <i class="far fa-calendar-alt"></i>
                <time class="dt-published" datetime="{{ page.date | dateToISO }}">
                    {{ page.date | dateToFormat(meta.dateFormat) }}
                </time>
            </p>
        </header>
        
        <div class="content">
            {{ content | safe }}
        </div>

        <footer>
            <a href="/" class="iconlink has-text-dark">
                <i class="fas fa-arrow-left"></i>
                Volver al inicio
            </a>
        </footer>
    </article>
</section>